[submodule "js/json_services"]
	path = js/json_services
	url = git@github.com:gingerhendrix/json_services_clients.git
[submodule "services"]
	path = services
	url = git@github.com:gingerhendrix/mushub_listening_now.git
